/*
!/.gitignore
!/.gitconfig
!/readme.md
!/license
!/.zshrc
!/.zshenv
!/.zprofile
!/.minisign/
/.minisign/*
!/.minisign/ekunazanu.pub
!/.ssh/
/.ssh/*
!/.ssh/ekunazanu.pub
!/.ssh/allowed_signers
!/.config/
/.config/*
!/.config/sway
!/.config/swaylock
!/.config/swaynag
!/.config/swayidle
!/.config/mako
!/.config/tofi
!/.config/foot
!/.config/i3blocks
!/.config/bat
!/.config/nvim
/.config/nvim/plugged
!/.config/mpv
/.config/mpv/*
!/.config/mpv/mpv.conf
!/.config/ncspot
/.config/ncspot/*
!/.config/ncspot/config.toml
!/.config/scripts
!/Pictures
/Pictures/*
!/Pictures/glsl
