[user]
    name = ekunazanu
    email = me@ekunazanu.foo
    signingkey = /home/ekunazanu/.ssh/ekunazanu.pub
[commit]
    gpgsign = true
[tag]
    gpgSign = true
[merge]
    tool = nvimdiff
    conflictstyle = diff3
[mergetool]
    prompt = false
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[help]
    autocorrect = immediate
[init]
    defaultBranch = main
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = /home/ekunazanu/.ssh/allowed_signers
[blame]
	date = relative
	coloring = repeatedLines
[color "blame"]
	repeatedLines = 8
[alias]
    lg = log --all --topo-order --graph --show-signature --tags
    lgs = log --all --topo-order --graph --show-signature --tags --stat
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
