/*
!.gitignore
!.gitconfig
!readme.md
!.zshrc
!.zshenv
!.zprofile
!.p10k.zsh
!.config/
.config/*
!.config/sway
!.config/swaylock
!.config/swaynag
!.config/swayidle
!.config/waybar
!.config/mako
!.config/tofi
!.config/foot
!.config/bat
!.config/mpv
!.config/nvim
.config/nvim/plugged
!.config/scripts
!.config/ncspot
.config/ncspot/*
!.config/ncspot/config.toml
!Pictures
Pictures/*
!Pictures/glsl
